name: nexa_serverpod_server
description: Starting point for a Serverpod server.

environment:
  sdk: ^3.8.0

dependencies:
  serverpod: 3.3.0
  serverpod_auth_idp_server: 3.3.0

dev_dependencies:
  lints: ">=3.0.0 <7.0.0"
  serverpod_test: 3.3.0
  test: ^1.25.5

serverpod:
  scripts:
    start: dart bin/main.dart --apply-migrations

    flutter_build:
      windows: >
        (if exist web\app rmdir /S /Q web\app)
        && cd /D ..\nexa_serverpod_flutter
        && flutter build web --base-href /app/ --wasm
        && xcopy /E /I /Y build\web ..\nexa_serverpod_server\web\app

      posix: >
        cd ../nexa_serverpod_flutter
        && flutter build web --base-href /app/ --wasm --output ../nexa_serverpod_server/web/app
